.app {
  padding: 0.5rem;
  gap: 0.5rem;
  color: #cccaca;
  height: 100dvh !important;
  overflow: auto;
  scrollbar-width: none;
  scrollbar-color: rgba(100, 100, 100, 0.45) transparent;
  background-color: #23292efc !important;
}

.nevigate {
  width: 64px;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  background-color: #272c33 !important;
  z-index: 111;
}

.content {
  overflow: auto;
  scrollbar-width: none;
  background-color: #272c33 !important;
}

._slide_view {
  width: 540px;
  z-index: 4;
  transition: 200ms all;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: #272c33 !important;
}

.slide_close {
  cursor: pointer;
  z-index: 100;
  background: #2b323a;
  right: 0.5rem;
}

._slide_view::-webkit-scrollbar {
  width: 0 !important;
}

@media screen and (max-width: 1100px) {
  ._slide_view {
    position: fixed;
    height: calc(100% - 1rem - 2px);
    right: 0.5rem !important;
  }

  .open_slide_view {
    transform: translateX(0%);
  }

  .close_slide_view {
    transform: translateX(120%);
    opacity: 0;
  }

  .slide_close {
    right: 0rem;
  }
}

@media screen and (max-width: 591px) {
  .app {
    flex-direction: column-reverse;
    padding: 0;
    gap: 0;
  }

  .content {
    border: none !important;
    border-radius: 0 !important;
  }

  .auth-parent {
    align-items: start !important;
  }

  .nevigate {
    flex-direction: row;
    height: 64px;
    width: auto;
    padding: 0 1rem;
    justify-content: center;
    border-radius: 0 !important;
    box-shadow: 0 2px 10px rgba(40, 39, 39, 0.516);
    border: none !important;
    border-top: 1px solid #3e4243bd !important;
  }

  ._slide_view {
    left: 0 !important;
    right: 0 !important;
    top: 16vh;
    width: auto;
    border-radius: 0.7rem 0.7rem 0 0 !important;
    background-color: rgb(27, 32, 35);
  }

  .open_slide_view {
    transform: translateY(0%);
  }

  .close_slide_view {
    transform: translateY(120%);
    opacity: 0;
  }

  .slide_close {
    right: 0rem;
  }
}
